@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-mono: var(--jetbrains-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

a {
  @apply text-blue-700 underline underline-offset-4;
}

@media (prefers-color-scheme: dark) {
  a {
    @apply text-blue-300;
  }
}

.no-js {
}

/* For ManItem.astro */
@source inline("pl-[{0..10..1}ch]");
