---
/**
 * Server Island component to grab uptime from Uptime Kuma.
 */

import { ServiceStatus } from "../../utils/status";
import kuma_status from "../../utils/status/kuma";
import upptime_status from "../../utils/status/upptime";

interface Props {
  name: string;
  src: "kuma" | "upptime";
}
const { name, src } = Astro.props;

let status = ServiceStatus.UNKNOWN;
switch (src) {
  case "kuma":
    status = await kuma_status(name);
    break;
  case "upptime":
    status = await upptime_status(name);
    break;
}

const color = ServiceStatus.toColorClass(status);
const statusText = ServiceStatus.toHumanReadable(status);

// Set caching headers for 5 min and allow stale content for 1 minute
Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=300, stale-while-revalidate=60",
);
---

<>
  <span class="absolute -top-1.5 -right-1 w-2.5 h-2.5">
    <span
      aria-hidden="true"
      class:list={[
        "absolute",
        "inset-0",
        "rounded-full",
        "opacity-75",
        "motion-safe:animate-ping",
        color,
      ]}></span>
    <span
      class:list={[
        "relative",
        "block",
        "w-2.5",
        "h-2.5",
        "rounded-full",
        color,
      ]}></span>
  </span>
  <span class="sr-only">Service Status: {statusText}</span>
</>
