<>
  <span aria-hidden="true" class="absolute -top-1.5 -right-1 w-2.5 h-2.5 no-js">
    <span
      class="absolute inset-0 rounded-full bg-gray-500 opacity-75 motion-safe:animate-ping"
    ></span>
    <span class="relative block w-2.5 h-2.5 rounded-full bg-gray-500"></span>
  </span>
  <span class="sr-only">Service Status: Unknown</span>
</>
