---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import dayjs from "dayjs";

interface Props {
  title: string;
  manual?: string;
}

const { title, manual = "Miscellaneous Information Manual" } = Astro.props;

const date = dayjs().format("ddd, MMMM D, YYYY");
---

<Layout title={title}>
  <header
    class="flex justify-between font-mono text-sm text-gray-500 dark:text-gray-400"
  >
    <div>ANSHUL GUPTA (7)</div>
    <h1>{manual}</h1>
    <div>ANSHUL GUPTA (7)</div>
  </header>
  <main class="font-mono pt-4">
    <slot />
  </main>
  <footer
    class="flex justify-between font-mono text-sm text-gray-500 dark:text-gray-400"
  >
    <div>{date}</div>
    <div>ANSHUL GUPTA (7)</div>
  </footer>
</Layout>

<style>
  body {
    max-width: 80ch;
    margin: 1em auto;
    padding: 0 1ch;
  }
</style>
